{% extends 'layout.twig' %}

{% block body %}

    <div class="container" style="padding-top: 70px;">
        <h1>Ajouter un commerce</h1>

        {{ form(trade, 'trade.create') }}
    </div>

{% endblock %}